*{
    box-sizing: border-box;
    
  }
  #container {
    position: relative;
    
  }
  h1{
    text-align: center;
    color: red;
  }
  
p {
  font-style: italic;
  
    background-color: #bfbfbf;
    border: 2px solid black;
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    padding: 70px 20px  5px 20px;
    overflow: hidden;
  }
  #p1 {
    font-style: italic;
    background-color: #D59898;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  
  }
  #p2 {
    font-style: italic;
    background-color:#C14543 ;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  
  }
  #p3 {
    font-style: italic;
    background-color: #E5D198;
     position: absolute;
     top: 0;
     right: 0;
     font-weight: bold;
     height: 35px;
     width: 120px;
     padding: 10px;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
   
   }
